* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.box {
  background-color: #0e1929;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.box__container {
  background-color: rgba(5, 9, 15, 0.4);
  border-radius: 10px;
  border: 1px solid #14253d;
  width: 390px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 20px;
  position: relative;
  overflow: hidden;
  z-index: 10;
}

.box__container:hover {
  border: 1px solid #3665a8;
  box-shadow: 0 0 15px 0 rgba(54, 101, 168, 0.5);
}

.box__title {
  background-color: rgba(3, 0, 28, 0.5);
  color: #ffffff;
  display: block;
  font-family: "Trebuchet MS";
  font-weight: 500;
  position: absolute;
  top: 0;
  left: 0;
  padding: 8px 25px;
}

/**/

.box__text-bg {
  color: rgba(255, 255, 255, 0.1);
  font-family: "Franklin Gothic Medium";
  font-size: 90px;
  letter-spacing: px;
  position: absolute;
  text-transform: uppercase;
}

/**/

.box__circle {
  border: 3px solid transparent;
  border-top-color: #3665a8;
  border-right-color: #3665a8;
  border-radius: 50%;
  height: 430px;
  width: 430px;
  position: absolute;
  animation: rotation 4s infinite linear;
}

.box__circle2 {
  border-top-color: transparent;
  border-right-color: #1e395e;
  border-bottom-color: #1e395e;
  border-left-color: #1e395e;
  height: 380px;
  width: 380px;
}

.box__circle3 {
  border-right-color: #3665a8;
  border-width: 6px;
  height: 330px;
  width: 330px;
  animation: rotation2 3s infinite linear;
}

.box__circle4 {
  border-left-color: transparent;
  border-width: 10px;
  height: 200px;
  width: 200px;
}

.box__image {
  animation: mover 1s infinite alternate;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes rotation2 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

@keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}
